<div>
  <h1 style='color: #111; font-family: Helvetica Neue, sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin: 30px;'>Seção de medições individuais</h1>

  <div>
    <hr>
    <h3 style='color: #111; font-family: Helvetica Neue, sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin: 30px;'>Medições de <b>T E M P E R A T U R A</b></h3>
    <hr>

    <% temperature_series = [{name: 'Temperatura [°C]', data: @temperature_measurements_grouped_by_hour}] %>
    <% temperature_options = {
      title: 'Medidas de temperatura agrupadas por hora',
      subtitle: 'Todos os pontossão referentes a média em das medidas coletadas no intervalo de uma hora',
      xtitle: 'Tempo de forma linear',
      ytitle: 'Valores das medidas em °C',
      stacked: false,
      fill: 'gradient'
    } %>

    <%= line_chart(temperature_series, {**temperature_options, theme: 'palette10', curve: 'stepline'}) %>

    <% range_temperature_min = @temperature_measurements.group_by_day(:measured_at).minimum(:value) %>
    <% range_temperature_max = @temperature_measurements.group_by_day(:measured_at).maximum(:value) %>

    <% range_temperature_series = [
      {
        name: 'Temperatura',
        data: range_temperature_min.keys.each_with_object({}) { |key, obj| obj[key] = [range_temperature_min[key], range_temperature_max[key]] }
      }
    ] %>

    <%= range_bar_chart(range_temperature_series, title: 'Variação diária da temperatura', subtitle: 'Delta de variação da temperatura ao longo do dia', xtitle: 'Variação da temperatura em [°C]',  ytitle: 'Data da variação', theme: 'palette10', fill: 'gradient') %>

    <% if @temperature_measurements.present? %>
      <h3 style='color: #111; font-family: Helvetica Neue, sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin: 30px;'> Últimas medidas de <b>T E M P E R A T U R A</b> enviadas pelos instrumentos</h3>
      <table style='text-align: center; margin: auto; border-collapse: collapse; font-size: 0.9em; font-family: sans-serif; min-width: 400px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);'>
        <tr>
          <th>Valor</th>
          <th>Unidade</th>
          <th>Data de medição</th>
        </tr>

        <% @temperature_measurements.last(5).each do |temperature_measurement| %>
          <tr>
            <td><%= temperature_measurement.value %></td>
            <td> °C </td>
            <td><%= temperature_measurement.measured_at.strftime('%d/%m/%y %H:%M:%S') %></td>
          </tr>
        <% end %>
      </table>
      <br>
    <% end %>
  </div>

  <div>
    <hr>
    <h3 style='color: #111; font-family: Helvetica Neue, sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin: 30px;'>Medições de <b>U M I D A D E</b></h3>
    <hr>

    <% humidity_series = [{name: 'Humidade [°%]', data: @humidity_measurements_grouped_by_hour}] %>
    <% humidity_options = {
      title: 'Medidas de humidade agrupadas por hora',
      subtitle: 'Todos os pontossão referentes a média em das medidas coletadas no intervalo de uma hora',
      xtitle: 'Tempo de forma linear',
      ytitle: 'Valores das medidas em %',
      stacked: false,
      fill: 'gradient'
    } %>

    <%= line_chart(humidity_series, {**humidity_options, theme: 'palette5', curve: 'stepline'}) %>

    <% range_humidity_min = @humidity_measurements.group_by_day(:measured_at).minimum(:value) %>
    <% range_humidity_max = @humidity_measurements.group_by_day(:measured_at).maximum(:value) %>

    <% range_humidity_series = [
      {
        name: 'Temperatura',
        data: range_humidity_min.keys.each_with_object({}) { |key, obj| obj[key] = [range_humidity_min[key], range_humidity_max[key]] }
      }
    ] %>

    <%= range_bar_chart(range_humidity_series, title: 'Variação diária da umidade', subtitle: 'Delta de variação da umidade ao longo do dia', xtitle: 'Variação da umidade em [%]',  ytitle: 'Data da variação', theme: 'palette5', fill: 'gradient') %>

    <% if @humidity_measurements.present? %>
      <h3 style='color: #111; font-family: Helvetica Neue, sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin: 30px;'> Últimas medidas de <b>U M I D A D E</b> enviadas pelos instrumentos</h3>
      <table style='text-align: center; margin: auto; border-collapse: collapse; font-size: 0.9em; font-family: sans-serif; min-width: 400px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);'>
        <tr>
          <th>Valor</th>
          <th>Unidade</th>
          <th>Data de medição</th>
        </tr>

        <% @humidity_measurements.last(5).each do |humidity_measurement| %>
          <tr>
            <td><%= humidity_measurement.value %></td>
            <td> % </td>
            <td><%= humidity_measurement.measured_at.strftime('%d/%m/%y %H:%M:%S') %></td>
          </tr>
        <% end %>
      </table>
      <br>
    <% end %>
  </div>

  <div>
    <hr>
    <h3 style='color: #111; font-family: Helvetica Neue, sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin: 30px;'>Medições de <b>P H</b></h3>
    <hr>

    <% ph_series = [{name: 'pH [adimensional]', data: @ph_measurements_grouped_by_hour}] %>
    <% ph_options = {
      title: 'Medidas de pH agrupadas por hora',
      subtitle: 'Todos os pontossão referentes a média em das medidas coletadas no intervalo de uma hora',
      xtitle: 'Tempo de forma linear',
      ytitle: 'Valores das medidas em [adimensional]',
      stacked: false,
      fill: 'gradient'
    } %>

    <%= line_chart(ph_series, {**ph_options, theme: 'palette7', curve: 'stepline'}) %>

    <% range_ph_min = @ph_measurements.group_by_day(:measured_at).minimum(:value) %>
    <% range_ph_max = @ph_measurements.group_by_day(:measured_at).maximum(:value) %>

    <% range_ph_series = [
      {
        name: 'Temperatura',
        data: range_ph_min.keys.each_with_object({}) { |key, obj| obj[key] = [range_ph_min[key], range_ph_max[key]] }
      }
    ] %>

    <%= range_bar_chart(range_ph_series, title: 'Barra de variação diária do PH', subtitle: 'Noção da variação do PH ao longo do dia', xtitle: 'Variação do pH em [ad]',  ytitle: 'Data da variação', theme: 'palette7', fill: 'gradient') %>

    <% if @ph_measurements.present? %>
      <h3 style='color: #111; font-family: Helvetica Neue, sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin: 30px;'> Últimas medidas de <b>P H</b> enviadas pelos instrumentos</h3>
      <table style='text-align: center; margin: auto; border-collapse: collapse; font-size: 0.9em; font-family: sans-serif; min-width: 400px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);'>
        <tr>
          <th>Valor</th>
          <th>Unidade</th>
          <th>Data de medição</th>
        </tr>

        <% @ph_measurements.last(5).each do |ph_measurement| %>
          <tr>
            <td><%= ph_measurement.value %></td>
            <td> ad </td>
            <td><%= ph_measurement.measured_at.strftime('%d/%m/%y %H:%M:%S') %></td>
          </tr>
        <% end %>
      </table>
      <br>
    <% end %>
  </div>
</div>
