<div>
  <h1> Seção de medição individual </h1>

  <div>
    <h3> Medições de TEMPERATURA </h3>

    <% temperature_series = [{name: 'Temperatura [°C]', data: @temperature_measurements_grouped_by_hour}] %>
    <% temperature_options = {
      title: 'Medidas de temperatura agrupadas por hora',
      subtitle: 'Média das medidas agrupadas por horas',
      xtitle: 'Tempo de forma linear',
      ytitle: 'Valores das medidas em °C',
      stacked: false
    } %>

    <%= line_chart(temperature_series, {**temperature_options, theme: 'palette5', curve: 'stepline'}) %>

    <% range_temperature_min = @temperature_measurements.group_by_day(:measured_at).minimum(:value) %>
    <% range_temperature_max = @temperature_measurements.group_by_day(:measured_at).maximum(:value) %>

    <% range_temperature_series = [
      {
        name: 'Temperatura',
        data: range_temperature_min.keys.each_with_object({}) { |key, obj| obj[key] = [range_temperature_min[key], range_temperature_max[key]] }
      }
    ] %>

    <%= range_bar_chart(range_temperature_series, title: 'Barra de variação diária da temperatura', subtitle: 'Noção da variação da temperatura ao longo do dia', xtitle: 'Variação da temperatura em [°C]',  ytitle: 'Data da variação', theme: 'palette5') %>

    <% if @temperature_measurements.present? %>
      <h3> Últimas medidas de temperatura </h3>
      <table style='text-align: center;margin: auto;'>
        <tr>
          <th>Valor</th>
          <th>Unidade</th>
          <th>Data de medição</th>
        </tr>

        <% @temperature_measurements.last(5).each do |temperature_measurement| %>
          <tr>
            <td><%= temperature_measurement.value %></td>
            <td> °C </td>
            <td><%= temperature_measurement.measured_at.strftime('%d/%m/%y %H:%M:%S') %></td>
          </tr>
        <% end %>
      </table>
      <br>
    <% end %>
  </div>

  <div>
    <h3> Medições de HUMIDADE </h3>

    <% humidity_series = [{name: 'Humidade [°%]', data: @humidity_measurements_grouped_by_hour}] %>
    <% humidity_options = {
      title: 'Medidas de humidade agrupadas por hora',
      subtitle: 'Média das medidas agrupadas por horas',
      xtitle: 'Tempo de forma linear',
      ytitle: 'Valores das medidas em %',
      stacked: false
    } %>

    <%= line_chart(humidity_series, {**humidity_options, theme: 'palette6', curve: 'stepline'}) %>

    <% range_humidity_min = @humidity_measurements.group_by_day(:measured_at).minimum(:value) %>
    <% range_humidity_max = @humidity_measurements.group_by_day(:measured_at).maximum(:value) %>

    <% range_humidity_series = [
      {
        name: 'Temperatura',
        data: range_humidity_min.keys.each_with_object({}) { |key, obj| obj[key] = [range_humidity_min[key], range_humidity_max[key]] }
      }
    ] %>

    <%= range_bar_chart(range_humidity_series, title: 'Barra de variação diária da umidade', subtitle: 'Noção da variação daumidade ao longo do dia', xtitle: 'Variação da umidade em [%]',  ytitle: 'Data da variação', theme: 'palette6') %>

    <% if @humidity_measurements.present? %>
      <h3> Últimas medidas de umidade </h3>
      <table style='text-align: center;margin: auto;'>
        <tr>
          <th>Valor</th>
          <th>Unidade</th>
          <th>Data de medição</th>
        </tr>

        <% @humidity_measurements.last(5).each do |humidity_measurement| %>
          <tr>
            <td><%= humidity_measurement.value %></td>
            <td> % </td>
            <td><%= humidity_measurement.measured_at.strftime('%d/%m/%y %H:%M:%S') %></td>
          </tr>
        <% end %>
      </table>
      <br>
    <% end %>
  </div>

  <div>
    <h3> Medições de PH </h3>

    <% ph_series = [{name: 'pH [adimensional]', data: @ph_measurements_grouped_by_hour}] %>
    <% ph_options = {
      title: 'Medidas de pH agrupadas por hora',
      subtitle: 'Média das medidas agrupadas por horas',
      xtitle: 'Tempo de forma linear',
      ytitle: 'Valores das medidas em [adimensional]',
      stacked: false
    } %>

    <%= line_chart(ph_series, {**ph_options, theme: 'palette7', curve: 'stepline'}) %>

    <% range_ph_min = @ph_measurements.group_by_day(:measured_at).minimum(:value) %>
    <% range_ph_max = @ph_measurements.group_by_day(:measured_at).maximum(:value) %>

    <% range_ph_series = [
      {
        name: 'Temperatura',
        data: range_ph_min.keys.each_with_object({}) { |key, obj| obj[key] = [range_ph_min[key], range_ph_max[key]] }
      }
    ] %>

    <%= range_bar_chart(range_ph_series, title: 'Barra de variação diária do PH', subtitle: 'Noção da variação do PH ao longo do dia', xtitle: 'Variação do pH em [ad]',  ytitle: 'Data da variação', theme: 'palette7') %>

    <% if @ph_measurements.present? %>
      <h3> Últimas medidas de pH </h3>
      <table style='text-align: center;margin: auto;'>
        <tr>
          <th>Valor</th>
          <th>Unidade</th>
          <th>Data de medição</th>
        </tr>

        <% @ph_measurements.last(5).each do |ph_measurement| %>
          <tr>
            <td><%= ph_measurement.value %></td>
            <td> ad </td>
            <td><%= ph_measurement.measured_at.strftime('%d/%m/%y %H:%M:%S') %></td>
          </tr>
        <% end %>
      </table>
      <br>
    <% end %>
  </div>
</div>
